<% layout('layouts/main') %>

<h1 class="h4 mt-3 mb-3">Criar novo post</h1>
<form id="postForm">
    <div class="mb-3">
        <label class="form-label">Título</label>
        <input required maxlength="250" type="text" name="titulo" id="titulo" class="form-control" placeholder="Digite o título">
    </div>
    <div class="mb-3">
        <label class="form-label">Conteúdo</label>
        <textarea required name="conteudo" id="conteudo" class="form-control" rows="8" placeholder="Escreva seu conteúdo..."></textarea>
    </div>
    <button class="btn btn-success" type="submit">Publicar</button>
</form>

<script>
    const form = document.getElementById('postForm');

    form.addEventListener('submit', async function (event) {
        event.preventDefault();
        try {
            const formData = new FormData(form);

            const data = Object.fromEntries(formData.entries());

            const response = await api.post('/posts', formData);

            window.location.href = '/post/getposts';
        } catch (err) {
            alert("Algo deu erro");
            console.log(err)
        } 
    });
</script>